In [1]:
import pandas as pd
import glob

In [2]:
# Merge files
excel_files = glob.glob('./ibba/*.xlsx')
all_df = []
for file in excel_files:
    df = pd.read_excel(file)
    all_df.append(df)

ibba = pd.concat(all_df, ignore_index = True)
ibba.head()

,Unnamed: 0,name,company,location,phone
0,0,Tom Gottlieb,Berkshire Hathaway HS PRO,"Mason, Ohio",5622254567
1,1,Christopher Goebel,Crossroads Advisers,"Cleveland, Ohio",216-533-4533
2,2,Dan Long,Cincinnati Business Brokers,"Cincinnati, Ohio",5133153006
3,3,Mike Lohbeck CBI,MGL Business Brokers - Sell Your Business Here,"Cincinnati, Ohio",(513) 200-0247
4,4,Elias Ladon,"Enterprise Development Resources, Inc.","Beachwood, Ohio",(216) 765-0845

In [9]:
ibba = ibba.rename( columns = {'company': 'current company' , 'current state': 'location'})

In [10]:
ibba.head()

,Unnamed: 0,name,current company,location,phone
0,0,Tom Gottlieb,Berkshire Hathaway HS PRO,"Mason, Ohio",5622254567
1,1,Christopher Goebel,Crossroads Advisers,"Cleveland, Ohio",216-533-4533
2,2,Dan Long,Cincinnati Business Brokers,"Cincinnati, Ohio",5133153006
3,3,Mike Lohbeck CBI,MGL Business Brokers - Sell Your Business Here,"Cincinnati, Ohio",(513) 200-0247
4,4,Elias Ladon,"Enterprise Development Resources, Inc.","Beachwood, Ohio",(216) 765-0845

In [5]:
df = ibba.drop('Unnamed: 0', axis = 1)
df.head()

,name,current company,current state,phone
0,Tom Gottlieb,Berkshire Hathaway HS PRO,"Mason, Ohio",5622254567
1,Christopher Goebel,Crossroads Advisers,"Cleveland, Ohio",216-533-4533
2,Dan Long,Cincinnati Business Brokers,"Cincinnati, Ohio",5133153006
3,Mike Lohbeck CBI,MGL Business Brokers - Sell Your Business Here,"Cincinnati, Ohio",(513) 200-0247
4,Elias Ladon,"Enterprise Development Resources, Inc.","Beachwood, Ohio",(216) 765-0845

In [6]:
df.shape

(2582, 4)

In [7]:
df.isnull().sum()

name                 0
current company    860
current state        0
phone               91
dtype: int64

In [8]:
phone_null = df[df['phone'].isnull()]
print(phone_null)

                    name                                    current company  \
10    Russell Kitzberger  KW Commercial & Business Brokerage, Keller Wil...
54            Kent Adams           Transworld Business Advisors Richmond VA
57         Douglas Brown         Transworld Business Advisors - Richmond VA
59            Bill Kelly                   Transworld Business Advisors RVA
63       Semir Osmanovic                                   DH Brokerage Inc
...                  ...                                                ...
1596        Andrew Blain                             Next Level Consultants
1617   Michael Greengard                                                NaN
1619     Catherine Young                                                NaN
2086     Felipe Mardakis                             Hallefeld Realty, PLLC
2301       Joshua Howard                           Bluefin Capital Advisors

               current state phone
10          Cincinnati, Ohio   NaN
54      Glen Allen, Virginia   NaN
57      Glen Allen, Virginia   NaN
59        Richmond, Virginia   NaN
63         Ashland, Virginia   NaN
...                      ...   ...
1596    St. Joseph, Michigan   NaN
1617  Grand Rapids, Michigan   NaN
1619      Muskegon, Michigan   NaN
2086        Orlando, Florida   NaN
2301        Valrico, Florida   NaN

[91 rows x 4 columns]